@media only screen and (max-width: 700px) {
    .grid-container {
        grid-template-columns: 100%;
        grid-template-rows: 25vh auto;
    }

    .logo-img {
        text-align: center;
        height: 100%;
    }

    .logo-img > img{
        height: 100%;
    }    

    .item1 {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
    .item2  {
        grid-column-start: 1;
        grid-row-start: 2;
    }
}